/*
Theme Name: Unifica IFRS
Theme URI: www.ifrs.edu.br
Author: Daniel Mazon da Silva, Ricardo Moro
Author URI: www.ifrs.edu.br
Description: Tema para o hotsite do Projeto Unifica IFRS.
Version: 0.7
License: GNU General Public License v3 & Creative Commons 4.0
License URI: unifica.ifrs.edu.br
Tags: unifica,ifrs
*/

@import url('css/bootstrap.min.css');


/* Fontes
-------------------------------------------------------------- */

p,a,h1,h2,h3,h4,h5,h6,button {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a,h1,h2,h3,h4,h5,h6 {
    color: #00813e;
}

small { 
    color: #777;
    clear: both;
    padding: 0px;
    display: table;
}



/* Layout
-------------------------------------------------------------- */

#contraste-desligar { display: none !important; }

body {
    background-image: url(img/fundo-geral.png);
    background-position: top center;
}

.badge {
    background-color: #00813e;
    border-radius: 5px;
}

.breadcrumb {
    background-color: #e4e7d0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 15px 8px 15px;
    margin-top: 0;
    margin-bottom: 5px;
    box-shadow:         0 2px 5px #0a4f2b;
    -webkit-box-shadow: 0 2px 5px #0a4f2b;
    -moz-box-shadow:    0 2px 5px #0a4f2b;
}

ol.breadcrumb li a {
    font-weight: bold;
}

ol.breadcrumb li.active{
    font-weight:bold;
}

.box {
    padding-top: 20px;
}

.box h2 {
    font-size: medium;
    border-bottom: 1px solid #00813e;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 0;
}

.box h2 a{
    border-bottom: 3px solid #00813e;
}
.box h2 a:hover {
    text-decoration: none;
    color: #0C0;
}

.center {
    text-align: center;
}

.img-no-tamanho-da-div {
    width: 100%;
    height: 100%;
}

.linha{
    border-top: 1px solid #00813e;
    margin-bottom: 10px;
    clear: both;
}

.linha a {
    border-top: 3px solid #00813e;
}

div#conteudo.box a h1 {
    color: #00813e;
}

div#conteudo.box a:hover {
    text-decoration: none;
}

div#conteudo.box a h1:hover {
    color: #0C3;
}

hr { 
    border-color: #00813e;
}



/* Barra do Governo - Fix
-------------------------------------------------------------- */

#barra-brasil div.brasil-flag {
    height: auto;
}



/* Cabeçalho
-------------------------------------------------------------- */

#logo {
    display: block;
    text-align: center;
    background: url("img/unifica-ifrs.png");
    background-repeat: no-repeat;
    background-position: center top;
    height: 190px;
    width: 450px;
    margin: 0 auto;
    margin-top: -57px;
}

header {
    background-color: #00813e;
    margin-top: 40px;
    margin-bottom: 45px;
    height: 105px;
}


/* Atalhos */

#atalhos {
    height: 20px;
    margin-bottom: 0;
    margin-top: 3px;
}

#atalhos a {
    font-size: 0.9em;
}

#atalhos a:hover,
#atalhos a:active,
#atalhos a:focus {
    color: #00813e;
}

#atalhos li {
    float: left;
    padding-right: 10px;
    list-style: none;
}


/* Glyphicons */

.bs-glyphicons {
    margin: 0 -19px 20px -16px;
    overflow: hidden;
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #f9f9f9;
    background-color: #fff;
    list-style: none;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

/* Menu */

.navbar-default {
    border: none !important;
    background-color: #e4e7d0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus, 
.current-menu-item a,
.current_page_item a {
    color: #00813e;
    background-color: transparent;
    border-bottom: 3px solid #00813e;
    height: 50px;
}

.navbar-default .navbar-nav > li > a {
    color: #00813e;
    background-color: transparent;
}

ul.nav.navbar-nav li a:hover,
ul.nav.navbar-nav li.active a:hover {
    background-color: #00813e;
    color: #fff;
}
.nav>li>a {
	padding-right: 10px;
}

/* Menu Implantação */

ul#menu-menu-implantacao.menu {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

ul#menu-menu-implantacao.menu li a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: table-cell;
    padding-left: 10px;
}

ul#menu-menu-implantacao.menu li a:hover {
    color: white;
    background-color: #00813e;
    display: block;
    text-decoration: none;
}

ul#menu-menu-implantacao.menu li a {
    color: #00813e;
}

ul#menu-menu-implantacao.menu li a:hover {
    color: white;
}

#menu-menu-implantacao.menu li.current-menu-item, 
#menu-menu-implantacao.menu li.current-post-parent,
#menu-menu-implantacao.menu li.current_page_item,
#menu-menu-implantacao.menu li.current-cat {
    background-color: #00813e;
    display: block;
}

#menu-menu-implantacao.menu li.current-menu-item a, 
#menu-menu-implantacao.menu li.current-post-parent a,
#menu-menu-implantacao.menu li.current_page_item a, 
#menu-menu-implantacao.menu li.current-cat a {
    color: white;
}

aside .navbar-default .navbar-nav > .active > a,
aside .navbar-default .navbar-nav > .active > a:hover,
aside .navbar-default .navbar-nav > .active > a:focus,
aside .current-menu-item a,
aside .current_page_item a {
    height:auto;
}


/* Busca */

.navbar-form .input-group {
    margin-right: 15px;
}
#form-busca {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 0;
	padding-right: 0;
}



/* Agenda de Eventos
-------------------------------------------------------------- */

p#evcal_cur {
    color:#00813e !important;
}
div#evcal_list {
    padding-bottom: 20px;
}
.eventon_events_list .eventon_list_event .evcal_desc,
.evo_pop_body .evcal_desc {
    padding: 8px 15px 0 80px;
}
.ajde_evcal_calendar .calendar_header p {
    font-size: 20px;
}



/* Página Inicial
-------------------------------------------------------------- */

.conteudo {
    background-color: #e4e7d0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px 15px 10px 15px;
    margin-top: 20px;
    box-shadow:         0 2px 5px #0a4f2b;
    -webkit-box-shadow: 0 2px 5px #0a4f2b;
    -moz-box-shadow:    0 2px 5px #0a4f2b;
}

.conteudo h2 {
    font-size: medium;
    border-bottom: 1px solid #00813e;
    padding-bottom: 4px;
    font-weight: bold;
    margin-top: 0;
}

.conteudo h2 a {
    border-bottom: 3px solid #00813e;
}
.conteudo h2 a:hover {
    text-decoration: none;
    color: #0C0;
}

.conteudo h3 a {
    font-size: 20px;
}
.conteudo h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.conteudo h3 a:hover {
    text-decoration: none;
    color: #0C0;
}



/* Single Notícias
-------------------------------------------------------------- */

#lista_noticias {
    padding-right: 0;
}

.titulo-noticias {
    font-size:12px;
}

#lista_noticias ul {
    list-style:none;
    padding:0;
}

#lista_noticias ul li {
    display:table;
    width:100%;
}

#lista_noticias ul li a {
    color:#00813e; 
    *position: absolute;
    top: 50%;
    display:table-cell;
    vertical-align:middle;
}
    
aside#lista_noticias img {
    border-radius: 1em; 
    border: 4px solid transparent;
}

aside#lista_noticias ul li {
    border-radius: 1em; 
    border: 4px solid transparent; 
    margin-bottom:5px; 
    margin-top:5px; 
    margin-left:0px;
}

aside#lista_noticias ul li:hover {
    border-radius: 1em; 
    border: 4px solid #00813e;
}

aside#lista_noticias a {
    text-decoration:none;
}

aside#lista_noticias .miniatura {
    float:left;
    margin-right:10px;
    height:100px;
    width:100px;
}



/* Responsivo
-------------------------------------------------------------- */

@media (max-width: 767px) { 
    #logo {
        background: url("img/unifica-ifrs-small.png");
        background-repeat: no-repeat;
        background-position: center top;
        height: 130px;
        width: auto;
        margin-top: -57px;
    }
        
    header {
        height: 70px;
        padding-top: 12px;  
    }
}



/* Rodapé
-------------------------------------------------------------- */

footer {
    background-color: #00813e;
    color: #FFFFFF;
    font-size: 0.8em;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p.titulo {
    font-size: 1.5em;
    margin-top: 15px;
}

footer a,
footer a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #FCCA00;
}
