/* Layout
-------------------------------------------------------------- */
#contraste-desligar { display: block !important; }

#contraste-ligar { display: none !important; }

/* Fontes
-------------------------------------------------------------- */
small,p,a {
    color: #fff !important;
}

h1, h1 > a,
h2, h2 > a,
h3, h3 > a,
h4, h4 > a,
h5, h5 > a,
h6, h6 > a {
    color: #fcca00 !important;
}

/* Layout
-------------------------------------------------------------- */

body {
    background-image: none !important;
    background-color: #000 !important;
}

.badge {
    background-color: #333;
}

.breadcrumb {
    background-color: #fff !important;
}

.breadcrumb a, ol.breadcrumb li.active {
    color: #000 !important;
}

.box h2 {
    border-bottom: 1px solid #fff !important;
}

.box h2 a {
    border-bottom: 3px solid #fff !important;
}
.box h2 a:hover {
    color: #fff !important;
}

.linha {
    border-top: 1px solid #fff !important;
}

.linha a {
    border-top: 3px solid #fff !important;
}

.conteudo.box a h1 {
    color: #fff !important;
}

.conteudo.box a h1:hover {
    color: #fff !important;
}

hr { 
    border-color: #fff !important;
}

.ajde_evcal_calendar .calendar_header .evcal_arrows {
    color: #000 !important;
}



/* Cabeçalho
-------------------------------------------------------------- */

header {
    background-color: #fff !important;
}

#logo {
    background: url("img/unifica-ifrs-pb.png") !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}

ul.nav.navbar-nav {
    background-color: #000 !important;
}

ul.nav.navbar-nav li a {
    color: #fff !important;
}

.bs-glyphicons li {
    border: 1px solid #000 !important;
    background-color: #000 !important;
}

.navbar-default {
    background-color: #000 !important;
    border: 1px solid #fff !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, 
.current-menu-item a,.current_page_item  a {
    color: #fff !important;
    border-bottom: 3px solid #fff !important;
}
.navbar-default .navbar-nav>li>a{
    color: #fff !important;
}

ul.nav.navbar-nav li a:hover ,ul.nav.navbar-nav li.active a:hover {
    background-color: #fff !important;
    color: #000 !important;
}

.btn.btn-success {
    background-color: #000 !important;
    border-color: #fff !important;
}


/* Menu Implantação */

ul#menu-menu-implantacao.menu li a:hover {
    background-color:#fff !important;
	color:#000 !important;
}

ul#menu-menu-implantacao.menu li a {
    color:#fff !important;
}

#menu-menu-implantacao.menu li.current-menu-item, 
#menu-menu-implantacao.menu li.current-post-parent,
#menu-menu-implantacao.menu li.current_page_item,
#menu-menu-implantacao.menu li.current-cat {
    background-color:#000 !important;
}



/* Agenda de Eventos
-------------------------------------------------------------- */

p#evcal_cur {
    color: #fff !important;
}

.eventon_events_list .eventon_list_event .evcal_eventcard, .evcal_evdata_row, .evorow .tbrow {
    background-color: #000 !important;
}

.eventon_events_list .eventon_list_event .desc_trig{
    background-color: #000 !important;
}

#evcal_list .eventon_list_event .evcal_desc span.evcal_event_title {
    color: #fff !important;
}

.eventon_events_list .eventon_list_event .desc_trig :hover{
    background-color: #000 !important;
}

#evcal_list .eventon_list_event .evcal_desc span.evcal_event_title :hover{
    color: #000 !important;
}

/* Página Inicial
-------------------------------------------------------------- */

.conteudo {
    background-color: #000 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.conteudo h2 {
    font-size: medium !important;
    border-bottom: 1px solid #fff !important;
    padding-bottom: 5px !important;
    font-weight: bold !important;
    margin-top: 0 !important;
}

.conteudo h2 a{
    border-bottom: 3px solid #fff !important;
}
.conteudo h2 a:hover {
    text-decoration: underline !important;
    color:#fff !important;
}

.conteudo h3 a:hover {
    text-decoration: underline !important;
    color:#fff !important;
}



/* Single Notícias
-------------------------------------------------------------- */

#lista_noticias ul li a {
    color: #fff !important;
}
    
aside#lista_noticias img {
    border-radius: 1em !important;
    border: 4px solid transparent !important;
}

aside#lista_noticias ul li {
    border: 4px solid transparent !important; 
}

aside#lista_noticias ul li:hover {
    border: 4px solid #fff !important;
}

aside#lista_noticias a {
    text-decoration: underline !important;
}


/* Responsivo
-------------------------------------------------------------- */

@media (max-width: 767px) { 
    #logo {
        background: url("img/unifica-ifrs-small-pb.png") !important;
        background-repeat: no-repeat !important;
        background-position: center top !important;
        height: 130px !important;
        width: auto !important;
        margin-top: -57px !important;
    }
}



/* Rodapé
-------------------------------------------------------------- */

footer {
    background-color: #000 !important;
    border: 1px solid #fff;
}
